<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WHAT I LEARNT?</title>
  </head>
  <body>
    <p><button type="button" onclick="location.href='/check'">Check</button></p>
    <p><button type="button" onclick="location.href='/add'">Add</button></p>
    <br><hr></br>
    <p>Learnt today:</p>
    <ul>
      {% for datum in data %}
        <li><a href="/detail?id={{datum[0]}}">{{datum[1]}}</a></li>
      {% endfor %}
    </ul>
  </body>
</html>
